body {
    font-family: 'Indie Flower', cursive;
    background-color: #eee;
} 

.title-text {
    text-align: center;
    font-size: 48px;
    margin: 2%;
}

.title-text-decor {
    text-align: center;
    font-size: 36px;
    color: #fd96b6; /* Light Pink */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
}

.side-bar {
    width: 130px;
    height: 290px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ffcad4; /* Light Pink */
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 15px 15px 5px 5px;
    filter: drop-shadow(0px 0px 1px #333);
}

.color-selection {
    font-size: 28px;
    font-weight: bold;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#color-side-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    justify-items: center;
}

.tools-side-bar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    justify-items: center;
}

.flex {
    display: flex;
    width: 100%;
    column-gap: 5%;
}

.tool-button {
    height: 90%;
    width: 100%;

    background-color: #fd96b6;

    border: none;
    color: black;
    font-size: 16px;
    border-radius: 5px;
}

.tool-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#selected-color {
    height: auto;
    width: auto;
    background-color: white;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
}

#selected-color {
    cursor: pointer;
}

.color {
    height: 30px;
    width: 30px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    filter: drop-shadow(0px 0px 2px #000);
}

.color:hover {
    cursor: pointer;
}

#grid-list {
    width: 500px;
    height: 500px;
    display: grid;
    cursor: url("images/paintbrush.cur"), auto;
}

.grid-list-eraser {
    cursor: url("images/eraser.cur"), auto !important;
}

.grid-list-container {
    width: 500px;
    height: 500px;
    outline: 1px solid black;
}

.grid {
    background-color: white;
}

.grid-border {
    outline: 1px solid;
    outline-color: hsla(0, 0%, 20%, 0.5);;
}

.range-slider-container {
    display: flex;
    justify-content: center;
}

#range-slider {
    width: 360px;
    margin: 20px 0px 20px 0px;
}

.range-slider-text {
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
}